<html>
<head>
    <title>로그인</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>

    <link rel="stylesheet" href="/public/css/user.css">
</head>
<body>
    <div class="scene flex">
        <section class="card">
        <figure class="card__figure">
            <img class="card__image" src="/public/icon.png" alt="귤비"/>
        </figure>
        <h1 class="card__heading">
            <span> Hello! Log - In </span>
        </h1>
        <form class="card__form" action="login" method="post">
            <label for="ID" class="visually">ID :</label>
            <input id="ID" class="card__input" type="text" name="ID" />
            <label for="password" class="visually">Password :</label>
            <input id="password" class="card__input" type="password" name="pw" />
            <button class="card__button" type="submit">
            <span>Login</span>
            </button>
        </form>

        <a href="register">Register</a>
        </section>
    </div>
</body>
</html>